In [1]:
# 8.1 EDA Demonstration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
# We will store the orders table csv data in a variable
orders = pd.read_csv('orders.csv')
orders


# Tabs are used as the separating character in this file

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.30,0.30,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.50,0.50,NaN,1826.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999986,ZI-2020-495856,2020-01-04,2020-01-09,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3210.0
999987,ZI-2020-5409624,2020-01-13,2020-01-18,Second Class,JC-5775,OFF-AVE-10000543,1.16,1,0.17,0.09,NaN,3539.0
999988,ZI-2020-5478741,2020-01-10,2020-01-10,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,3855.0
999989,ZI-2020-5986855,2020-01-08,2020-01-11,Standard Class,JC-5775,TEC-KON-10003116,71.64,2,0.32,0.23,NaN,783.0
999990,ZI-2020-863102,2020-01-22,2020-01-27,Standard Class,JM-5250,FUR-SAF-10002314,49.65,1,0.22,0.14,77095.0,1488.0

In [53]:
orders.info

<bound method DataFrame.info of                order id  order date   ship date       ship mode customer id  \
0       AE-2016-1308551  2016-09-28  2016-10-02    Second Class     PO-8865
1       AE-2016-1522857  2016-09-04  2016-09-09  Standard Class     PO-8865
2        AE-2016-184765  2016-10-03  2016-10-07    Second Class     PO-8865
3       AE-2016-1878215  2016-09-15  2016-09-17  Standard Class     PO-8865
4        AE-2016-218276  2016-10-09  2016-10-12  Standard Class     PO-8865
...                 ...         ...         ...             ...         ...
999986   ZI-2020-495856  2020-01-04  2020-01-09    Second Class     JC-5775
999987  ZI-2020-5409624  2020-01-13  2020-01-18    Second Class     JC-5775
999988  ZI-2020-5478741  2020-01-10  2020-01-10  Standard Class     JC-5775
999989  ZI-2020-5986855  2020-01-08  2020-01-11  Standard Class     JC-5775
999990   ZI-2020-863102  2020-01-22  2020-01-27  Standard Class     JM-5250

              product id  sales  quantity  discount  profit  postal code  \
0       OFF-FEL-10001405  82.67         2      0.30    0.30          NaN
1       TEC-EPS-10004171  78.41         6      0.50    0.50          NaN
2       OFF-FEL-10001405  82.67         2      0.30    0.30          NaN
3       TEC-EPS-10004171  78.41         6      0.50    0.50          NaN
4       TEC-EPS-10004171  78.41         6      0.50    0.50          NaN
...                  ...    ...       ...       ...     ...          ...
999986  OFF-AVE-10000543   1.16         1      0.17    0.09          NaN
999987  OFF-AVE-10000543   1.16         1      0.17    0.09          NaN
999988  TEC-KON-10003116  71.64         2      0.32    0.23          NaN
999989  TEC-KON-10003116  71.64         2      0.32    0.23          NaN
999990  FUR-SAF-10002314  49.65         1      0.22    0.14      77095.0

        region id
0          9954.0
1          4792.0
2         19848.0
3          1410.0
4          1826.0
...           ...
999986     3210.0
999987     3539.0
999988     3855.0
999989      783.0
999990     1488.0

[999991 rows x 12 columns]>

In [9]:
# Use the head method to investigate the first row of data
orders.head(1)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0

In [12]:
# Create a dataframe to view the column names and data types
orders.dtypes

order_id        object
order_date      object
ship_date       object
ship_mode       object
customer_id     object
product_id      object
sales          float64
quantity         int64
discount       float64
profit         float64
postal_code    float64
region_id      float64
dtype: object

In [11]:
# Use the shape attribute to determine the amount of rows and columns total
orders.shape

(999991, 12)

In [13]:
# Use the .columns property to list out the column names
# Use the .index.name property to identify the index
orders.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id'],
      dtype='object')

In [24]:
orders.index

RangeIndex(start=0, stop=999991, step=1)

In [27]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe
orders.rename(columns={'order_id': 'order id', 'order_date':'order date',
            'ship_date': 'ship date', 'ship_mode': 'ship mode', 'customer_id':'customer id', 'product_id':'product id', 'region_id':'region id', 'postal_code':'postal code' }, inplace=True)
orders.head(5)

,order id,order date,ship date,ship mode,customer id,product id,sales,quantity,discount,profit,postal code,region id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [36]:
# Explore columns with column attributes and methods
column_label = orders.columns[1:3]
column_label

Index(['order date', 'ship date'], dtype='object')

In [37]:
#Methods ends with parentheses, while attributes don’t
#.shape: Attribute
#.info(): Method


orders.describe()

,sales,quantity,discount,profit,postal code,region id
count,999991.000000,999991.000000,999991.000000,999991.000000,192888.000000,999795.000000
mean,245.885888,3.477444,0.247224,1.658624,55348.941095,6370.559013
std,481.540695,2.285502,0.137232,39.977661,32145.458536,10456.510728
min,0.440000,1.000000,0.000000,-6599.980000,1040.000000,38.000000
25%,30.680000,2.000000,0.130000,0.100000,23320.000000,2125.000000
50%,84.780000,3.000000,0.250000,0.200000,57103.000000,3688.000000
75%,250.740000,5.000000,0.350000,0.290000,90049.000000,5636.000000
max,22638.480000,14.000000,0.670000,8399.980000,99301.000000,98923.000000

In [59]:
orders['product id']

0         OFF-FEL-10001405
1         TEC-EPS-10004171
2         OFF-FEL-10001405
3         TEC-EPS-10004171
4         TEC-EPS-10004171
                ...
999986    OFF-AVE-10000543
999987    OFF-AVE-10000543
999988    TEC-KON-10003116
999989    TEC-KON-10003116
999990    FUR-SAF-10002314
Name: product id, Length: 999991, dtype: object

In [51]:
orders['ship date'].nunique()  # number of unique values

1502

In [52]:
orders['sales'].value_counts()  # number of occurrences of each value in column

12.96     1363
25.92      924
19.44      778
17.52      744
32.40      732
          ...
5.03         1
184.95       1
825.12       1
242.03       1
157.84       1
Name: sales, Length: 20057, dtype: int64

In [ ]:
# 8.2 Exploring a new dataset
# Import the products.csv dataset and explore the following questions:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [55]:
products = pd.read_csv('products.csv')
products

,product_id,category,sub_category,product_name,product_cost_to_consumer
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01
2,FUR-ADV-10000183,Furniture,Furnishings,"Advantus Photo Frame, Black",15.89
3,FUR-ADV-10000188,Furniture,Furnishings,"Advantus Stacking Tray, Erganomic",24.99
4,FUR-ADV-10000190,Furniture,Furnishings,"Advantus Frame, Duo Pack",111.18
...,...,...,...,...,...
10287,TEC-STA-10004181,Technology,Machines,"StarTech Inkjet, Durable",300.18
10288,TEC-STA-10004536,Technology,Machines,"StarTech Inkjet, Wireless",301.77
10289,TEC-STA-10004542,Technology,Machines,"StarTech Calculator, Durable",40.08
10290,TEC-STA-10004834,Technology,Machines,"StarTech Receipt Printer, Red",32.32
10291,TEC-STA-10004927,Technology,Machines,"StarTech Receipt Printer, Wireless",110.58

In [56]:
# A. What are the columns and index: do they suggest any relationship to other tables?
products.columns

Index(['product_id', 'category', 'sub_category', 'product_name',
       'product_cost_to_consumer'],
      dtype='object')

In [57]:
products.index

RangeIndex(start=0, stop=10292, step=1)

In [ ]:
# B. How many rows of data are there?
#10292 rows

In [62]:
#products table is different from the order table
products['product_id']

0        FUR-ADV-10000002
1        FUR-ADV-10000108
2        FUR-ADV-10000183
3        FUR-ADV-10000188
4        FUR-ADV-10000190
               ...
10287    TEC-STA-10004181
10288    TEC-STA-10004536
10289    TEC-STA-10004542
10290    TEC-STA-10004834
10291    TEC-STA-10004927
Name: product_id, Length: 10292, dtype: object

In [58]:
# C. What are the types of each column?
products.dtypes

product_id                   object
category                     object
sub_category                 object
product_name                 object
product_cost_to_consumer    float64
dtype: object

In [ ]:
# 8.3 Boolean Filtering
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challanges:

In [134]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"

df2 = orders[orders['ship mode'] == 'Second Class']['profit']
df2

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0         0.30
2         0.30
5         0.30
8         0.30
9         0.30
          ...
999978    0.09
999980    0.09
999982    0.09
999986    0.09
999987    0.09
Name: profit, Length: 335758, dtype: float64>

In [135]:
df2.mean()

1.0517047992899646

In [155]:
# B. Which product is the most commonly ordered on 2017-06-08 
orders['product id'].value_counts
df1 = orders[orders['product id'] == 2017-6-8]
df1

Empty DataFrame
Columns: [order id, order date, ship date, ship mode, customer id, product id, sales, quantity, discount, profit, postal code, region id]
Index: []

In [ ]:
# 8.4 Sorting and Filtering

In [ ]:
# A. What are the three most profitable orders purchased by customer PO-8865?

In [ ]:
# B. What are the five orders of product_id TEC-HEW-10002304 with the highest quanitity?

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! 🐼