In [2]:
import pandas as pd
import numpy as np

In [3]:
#create dataframe
data = {'Make': ['Toyota', 'lexus', 'BMW', 'Hyundai'], 'Model': ['Rav4', 'Lexus', 'X3', 'Elantra'], 'Year': [2018, 2015, 2012, 222], 'Color': ['White', 'Black', 'Gray', 'Blue']}

In [4]:
Cars = pd.DataFrame(data)

In [5]:
Cars

      Make    Model  Year  Color
0   Toyota     Rav4  2018  White
1    lexus    Lexus  2015  Black
2      BMW       X3  2012   Gray
3  Hyundai  Elantra   222   Blue

In [14]:
more_data = {'Make': ['Toyota', 'Lexus', 'BMW', 'Hyundai'],
'Year': [2018, 2015, 2012, 2022],
'Model': ['Corolla', 'LS50', 'X', 'Elantra'],
'Color': ['White', 'Black', 'Gray', 'Blue']}

In [20]:
more_cars = pd.DataFrame(more_data)

In [21]:
more_cars

      Make  Year    Model  Color
0   Toyota  2018  Corolla  White
1    Lexus  2015     LS50  Black
2      BMW  2012        X   Gray
3  Hyundai  2022  Elantra   Blue

In [22]:
pd.concat([Cars, more_cars])

      Make    Model  Year  Color
0   Toyota     Rav4  2018  White
1    lexus    Lexus  2015  Black
2      BMW       X3  2012   Gray
3  Hyundai  Elantra   222   Blue
0   Toyota  Corolla  2018  White
1    Lexus     LS50  2015  Black
2      BMW        X  2012   Gray
3  Hyundai  Elantra  2022   Blue

In [6]:
price_data = {'Price':[35000, 50000,54000, 27000], 'Seats':[5, 5, 5, 5]}
prices = pd.DataFrame(price_data)

In [7]:
pd.concat([Cars, prices], axis = 1)

      Make    Model  Year  Color  Price  Seats
0   Toyota     Rav4  2018  White  35000      5
1    lexus    Lexus  2015  Black  50000      5
2      BMW       X3  2012   Gray  54000      5
3  Hyundai  Elantra   222   Blue  27000      5

In [8]:
movies = pd.read_csv('movies.csv')
actors = pd.read_csv('actors.csv')